<h1>Make your form here</h1>
<form action="/pirates" method="post">
Pirate Name: <input type="text" name="pirate[name]"><br>
Pirate Weight: <input type="text" name="pirate[weight]"><br>
Pirate Height: <input type="text" name="pirate[height]"><br>
1st Ship Name: <input id ="ship_name_1" input type="text" name="pirate[ships][][name]"><br>
1st Ship Type: <input id ="ship_type_1" input type="text" name="pirate[ships][][type]"><br>
1st Ship Booty: <input id ="ship_booty_1" input type="text" name="pirate[ships][][booty]"><br>
2nd Ship Name: <input id ="ship_name_2" input type="text" name="pirate[ships][][name]"><br>
2nd Ship Type: <input id ="ship_type_2" input type="text" name="pirate[ships][][type]"><br>
2nd Ship Booty: <input id ="ship_booty_2" input type="text" name="pirate[ships][][booty]"><br>
<input type="submit" name="Submit" id="submit">
</form>